ADF-Hack2020/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-Hack2020"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureSqldb_sqlhack_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqldb_sqlhack'"
		},
		"Base64Convertor_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'Base64Convertor'"
		},
		"HackSchema_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'HackSchema'"
		},
		"JsonToCSVConvertor_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'JsonToCSVConvertor'"
		},
		"gen2hackStoreDataSet_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'gen2hackStoreDataSet'"
		},
		"gen2hackstore_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'gen2hackstore'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://gen2hackstore.dfs.core.windows.net"
		},
		"AzureFunction1_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://base64convertor.azurewebsites.net"
		},
		"Base64Convertor_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://base64toxmlconvertor.azurewebsites.net"
		},
		"HackSchema_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://gen2hackstore.dfs.core.windows.net"
		},
		"JsonToCSVConvertor_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://jsontocsvconvertor.azurewebsites.net"
		},
		"KV2020_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvhack2020.vault.azure.net/"
		},
		"gen2hackstore_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://gen2hackstore.dfs.core.windows.net"
		},
		"BlobStorageTrigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/901ba023-b9b4-4c6d-9494-916872c2c164/resourceGroups/Hack/providers/Microsoft.Storage/storageAccounts/gen2hackstore"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Appendfiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Appendfiles",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mbtest/iot_delta_files/"
							},
							{
								"name": "Destination",
								"value": "mbtest/iot_appened_files/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "newfiles",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Month_index",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Month_index",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Predicted_PD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Predicted_PD",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Year_Quarter",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year_Quarter",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PD_Risk_Rating",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PD_Risk_Rating",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sourcegen2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sinkgen2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sourcegen2')]",
				"[concat(variables('factoryId'), '/datasets/sinkgen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IoTHubOPCUAConvertor')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ConvertBodyfromBase64",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "Base64Convertor",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "Base64Convertor",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "OPCUAtoCDM",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "ConvertBodyfromBase64",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "JsonToCSVConvertor",
							"method": "GET",
							"headers": {}
						},
						"linkedServiceName": {
							"referenceName": "JsonToCSVConvertor",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Base64Convertor')]",
				"[concat(variables('factoryId'), '/linkedServices/JsonToCSVConvertor')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PipeLineAddDataToCDMModels')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_cdmload",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "InputDataToCDMTransfer",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"InputCNCData": {},
									"CDMConvertedData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 144,
								"computeType": "ComputeOptimized"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/InputDataToCDMTransfer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PipelineLoadIoTData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_cdmload",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "AddIoTDataToCNCStatusData",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"InputCNCData": {},
									"IoTHubData": {},
									"CNCDataWithHumidityData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 144,
								"computeType": "ComputeOptimized"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/AddIoTDataToCNCStatusData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDMCNCDataGroup1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jabilcdm/dtmi_jabil_hackathon_cnc_data_group1-1",
						"fileSystem": "cdm"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtId",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "CuttingTm",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					},
					{
						"name": "MaxAxisNo",
						"type": "String"
					},
					{
						"name": "Programnote",
						"type": "String"
					},
					{
						"name": "NowProgram",
						"type": "String"
					},
					{
						"name": "CNCMode",
						"type": "String"
					},
					{
						"name": "PowerOnTm",
						"type": "String"
					},
					{
						"name": "MainProgram",
						"type": "String"
					},
					{
						"name": "ShutdownTm",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "ServoName",
						"type": "String"
					},
					{
						"name": "CurrenttoolNo",
						"type": "String"
					},
					{
						"name": "PowerOn",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "Singlenote",
						"type": "String"
					},
					{
						"name": "CycleRunTm",
						"type": "String"
					},
					{
						"name": "UseAxisNo",
						"type": "String"
					},
					{
						"name": "ProgramStep",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDMCNCDataGroup2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jabilcdm/dtmi_jabil_hackathon_cnc_data_group2-1",
						"fileSystem": "cdm"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtId",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "S_TE",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "ActualSpeedY",
						"type": "String"
					},
					{
						"name": "ActualSpeedA",
						"type": "String"
					},
					{
						"name": "Cuttingfluid",
						"type": "String"
					},
					{
						"name": "S_Temp",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "ActualSpeedX",
						"type": "String"
					},
					{
						"name": "RateJOG",
						"type": "String"
					},
					{
						"name": "FastmoveTmC",
						"type": "String"
					},
					{
						"name": "RateFastmove",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					},
					{
						"name": "S_Gap",
						"type": "String"
					},
					{
						"name": "RateHAND",
						"type": "String"
					},
					{
						"name": "CuttingSpeed",
						"type": "String"
					},
					{
						"name": "AbsPos",
						"type": "String"
					},
					{
						"name": "ActualSpeedZ",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "Mcode",
						"type": "String"
					},
					{
						"name": "ServoTemp",
						"type": "String"
					},
					{
						"name": "Tag_D1_Analog",
						"type": "String"
					},
					{
						"name": "Fastmovespeed",
						"type": "String"
					},
					{
						"name": "MachPos",
						"type": "String"
					},
					{
						"name": "S_Torque",
						"type": "String"
					},
					{
						"name": "Distance",
						"type": "String"
					},
					{
						"name": "S_Load",
						"type": "String"
					},
					{
						"name": "RelPos",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDMCNCDataGroup3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jabilcdm/dtmi_jabil_hackathon_cnc_data_group3-1",
						"fileSystem": "cdm"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtId",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					},
					{
						"name": "AxisangleA",
						"type": "String"
					},
					{
						"name": "AxisangleZ",
						"type": "String"
					},
					{
						"name": "Z_load",
						"type": "String"
					},
					{
						"name": "ProcessStartTm",
						"type": "String"
					},
					{
						"name": "Y_load",
						"type": "String"
					},
					{
						"name": "AxisangleX",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "Toolset",
						"type": "String"
					},
					{
						"name": "X_load",
						"type": "String"
					},
					{
						"name": "S_RPM",
						"type": "String"
					},
					{
						"name": "ProcessCycleTm",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "Feed",
						"type": "String"
					},
					{
						"name": "AxisangleY",
						"type": "String"
					},
					{
						"name": "A_load",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDMCNCProData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jabilcdm/dtmi_jabil_hackathon_cnc_pro_data-1",
						"fileSystem": "cdm"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtId",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "ProcessCycleTm",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					},
					{
						"name": "TotalNum",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "ProcessStartTm",
						"type": "String"
					},
					{
						"name": "CycleRunTm",
						"type": "String"
					},
					{
						"name": "MainProgram",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDMCNCToolChangeData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jabilcdm/dtmi_jabil_hackathon_cnc_tool_change-1",
						"fileSystem": "cdm"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtId",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "UseCountAfter",
						"type": "String"
					},
					{
						"name": "ToolNo",
						"type": "String"
					},
					{
						"name": "LimitCount",
						"type": "String"
					},
					{
						"name": "UseCount",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDMCNSPartitionData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jabilcdm/dtmi_jabil_hackathon_cnc_status-1",
						"fileSystem": "cdm"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtId",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "ErrorCode",
						"type": "String"
					},
					{
						"name": "TotalNum",
						"type": "String"
					},
					{
						"name": "Tag_Modbus_Humidity",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDMCutterInfoData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jabilcdm/dtmi_jabil_hackathon_other_cutter_change_info-1",
						"fileSystem": "cdm"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtId",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "ApplicationTime",
						"type": "String"
					},
					{
						"name": "EmployeeName",
						"type": "String"
					},
					{
						"name": "MachineType",
						"type": "String"
					},
					{
						"name": "OrderNumber",
						"type": "String"
					},
					{
						"name": "ProcessName",
						"type": "String"
					},
					{
						"name": "Building",
						"type": "String"
					},
					{
						"name": "Area",
						"type": "String"
					},
					{
						"name": "MachineID",
						"type": "String"
					},
					{
						"name": "CutterNumber",
						"type": "String"
					},
					{
						"name": "WorkflowStatus",
						"type": "String"
					},
					{
						"name": "CutterSpecification",
						"type": "String"
					},
					{
						"name": "CutterProcessLife",
						"type": "String"
					},
					{
						"name": "CutterName",
						"type": "String"
					},
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "ExchangeReason",
						"type": "String"
					},
					{
						"name": "CutterStandardLife",
						"type": "String"
					},
					{
						"name": "ExchangeReasonDetails",
						"type": "String"
					},
					{
						"name": "Manufacturer",
						"type": "String"
					},
					{
						"name": "IPQCNumber",
						"type": "String"
					},
					{
						"name": "Calibrator",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "Appearance",
						"type": "String"
					},
					{
						"name": "ReviewDetails",
						"type": "String"
					},
					{
						"name": "Creator",
						"type": "String"
					},
					{
						"name": "ConfirmationDetails",
						"type": "String"
					},
					{
						"name": "ReviewResult",
						"type": "String"
					},
					{
						"name": "IPQCName",
						"type": "String"
					},
					{
						"name": "IsCompliant",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDMMiabData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jabilcdm/dtmi_opcfoundation_org_UA_MiaB_Tags-1",
						"fileSystem": "cdm"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtId",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "Tag_Modbus_Humidity",
						"type": "String"
					},
					{
						"name": "Tag_D2_Blue",
						"type": "String"
					},
					{
						"name": "Tag_Modbus_Temperature",
						"type": "String"
					},
					{
						"name": "Tag_D1_Analog",
						"type": "String"
					},
					{
						"name": "Tag_Modbus_CO2",
						"type": "String"
					},
					{
						"name": "Tag_D0_Digital",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDMToolInfoData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jabilcdm/dtmi_jabil_hackathon_cnc_tool_info-1",
						"fileSystem": "cdm"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtId",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "UseCount",
						"type": "String"
					},
					{
						"name": "LimitCount",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "ToolNo",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "EditTime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputCNCDataGroup1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "cncdatagroup1/Concatenated",
						"fileSystem": "cnctransformeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtid",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "PowerOn",
						"type": "String"
					},
					{
						"name": "ServoName",
						"type": "String"
					},
					{
						"name": "PowerOnTm",
						"type": "String"
					},
					{
						"name": "CuttingTm",
						"type": "String"
					},
					{
						"name": "CycleRunTm",
						"type": "String"
					},
					{
						"name": "CurrenttoolNo",
						"type": "String"
					},
					{
						"name": "MaxAxisNo",
						"type": "String"
					},
					{
						"name": "UseAxisNo",
						"type": "String"
					},
					{
						"name": "CNCMode",
						"type": "String"
					},
					{
						"name": "MainProgram",
						"type": "String"
					},
					{
						"name": "NowProgram",
						"type": "String"
					},
					{
						"name": "ProgramStep",
						"type": "String"
					},
					{
						"name": "Singlenote",
						"type": "String"
					},
					{
						"name": "Programnote",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputCNCDataGroup2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "cncdatagroup2/Concatenated",
						"fileSystem": "cnctransformeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtid",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "S_Temp",
						"type": "String"
					},
					{
						"name": "S_Torque",
						"type": "String"
					},
					{
						"name": "S_TE",
						"type": "String"
					},
					{
						"name": "Mcode",
						"type": "String"
					},
					{
						"name": "Cuttingfluid",
						"type": "String"
					},
					{
						"name": "S_Gap",
						"type": "String"
					},
					{
						"name": "ServoTemp",
						"type": "String"
					},
					{
						"name": "S_Load",
						"type": "String"
					},
					{
						"name": "CuttingSpeed",
						"type": "String"
					},
					{
						"name": "ActualSpeedX",
						"type": "String"
					},
					{
						"name": "ActualSpeedY",
						"type": "String"
					},
					{
						"name": "ActualSpeedZ",
						"type": "String"
					},
					{
						"name": "ActualSpeedA",
						"type": "String"
					},
					{
						"name": "RateJOG",
						"type": "String"
					},
					{
						"name": "RateFastmove",
						"type": "String"
					},
					{
						"name": "RateHAND",
						"type": "String"
					},
					{
						"name": "FastmoveTmC",
						"type": "String"
					},
					{
						"name": "Fastmovespeed",
						"type": "String"
					},
					{
						"name": "AbsPos",
						"type": "String"
					},
					{
						"name": "MachPos",
						"type": "String"
					},
					{
						"name": "RelPos",
						"type": "String"
					},
					{
						"name": "Distance",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputCNCDataGroup3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "cncdatagroup3/Concatenated",
						"fileSystem": "cnctransformeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtid",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "ProcessStartTm",
						"type": "String"
					},
					{
						"name": "ProcessCycleTm",
						"type": "String"
					},
					{
						"name": "X_load",
						"type": "String"
					},
					{
						"name": "Y_load",
						"type": "String"
					},
					{
						"name": "Z_load",
						"type": "String"
					},
					{
						"name": "A_load",
						"type": "String"
					},
					{
						"name": "S_RPM",
						"type": "String"
					},
					{
						"name": "Feed",
						"type": "String"
					},
					{
						"name": "AxisangleX",
						"type": "String"
					},
					{
						"name": "AxisangleY",
						"type": "String"
					},
					{
						"name": "AxisangleZ",
						"type": "String"
					},
					{
						"name": "AxisangleA",
						"type": "String"
					},
					{
						"name": "Toolset",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputCNCProData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "cncprodata/Concatenated",
						"fileSystem": "cnctransformeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtid",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "ProcessCycleTm",
						"type": "String"
					},
					{
						"name": "TotalNum",
						"type": "String"
					},
					{
						"name": "MainProgram",
						"type": "String"
					},
					{
						"name": "CycleRunTm",
						"type": "String"
					},
					{
						"name": "ProcessStartTm",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputCNCStatusData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "cncstatus/Concatenated",
						"fileSystem": "cnctransformeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtid",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "ErrorCode",
						"type": "String"
					},
					{
						"name": "TotalNum",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputCNCToolChangeData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "cnctoolchange/Concatenated",
						"fileSystem": "cnctransformeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtid",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "ToolNo",
						"type": "String"
					},
					{
						"name": "UseCount",
						"type": "String"
					},
					{
						"name": "LimitCount",
						"type": "String"
					},
					{
						"name": "UseCountAfter",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputCNCToolInfoData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "cnctoolinfo/Concatenated",
						"fileSystem": "cnctransformeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtid",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "ToolNo",
						"type": "String"
					},
					{
						"name": "UseCount",
						"type": "String"
					},
					{
						"name": "LimitCount",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputCutterInfoData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "other_cutter_change_info.csv",
						"folderPath": "Other",
						"fileSystem": "rowdatafromjabil"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OrderNumber",
						"type": "String"
					},
					{
						"name": "WorkflowStatus",
						"type": "String"
					},
					{
						"name": "ApplicationTime",
						"type": "String"
					},
					{
						"name": "EmployeeID",
						"type": "String"
					},
					{
						"name": "MachineType",
						"type": "String"
					},
					{
						"name": "ProcessName",
						"type": "String"
					},
					{
						"name": "Building",
						"type": "String"
					},
					{
						"name": "Area",
						"type": "String"
					},
					{
						"name": "MachineID",
						"type": "String"
					},
					{
						"name": "CutterNumber",
						"type": "String"
					},
					{
						"name": "CutterName",
						"type": "String"
					},
					{
						"name": "CutterSpecification",
						"type": "String"
					},
					{
						"name": "CutterProcessLife",
						"type": "String"
					},
					{
						"name": "CutterStandardLife",
						"type": "String"
					},
					{
						"name": "ExchangeReason",
						"type": "String"
					},
					{
						"name": "ExchangeReasonDetails",
						"type": "String"
					},
					{
						"name": "Manufacturer",
						"type": "String"
					},
					{
						"name": "IsCompliant",
						"type": "String"
					},
					{
						"name": "IPQCNumber",
						"type": "String"
					},
					{
						"name": "Size",
						"type": "String"
					},
					{
						"name": "Appearance",
						"type": "String"
					},
					{
						"name": "Calibrator",
						"type": "String"
					},
					{
						"name": "ConfirmationDetails",
						"type": "String"
					},
					{
						"name": "ReviewResult",
						"type": "String"
					},
					{
						"name": "ReviewDetails",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JabilPartitionData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "jabilcdm/dtmi_jabil_hackathon_cnc_data_group1-1",
						"fileSystem": "cdm"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtId",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "PowerOn",
						"type": "String"
					},
					{
						"name": "ServoName",
						"type": "String"
					},
					{
						"name": "MainProgram",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "CuttingTm",
						"type": "String"
					},
					{
						"name": "CycleRunTm",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "MaxAxisNo",
						"type": "String"
					},
					{
						"name": "UseAxisNo",
						"type": "String"
					},
					{
						"name": "CNCMode",
						"type": "String"
					},
					{
						"name": "NowProgram",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					},
					{
						"name": "PowerOnTm",
						"type": "String"
					},
					{
						"name": "CurrenttoolNo",
						"type": "String"
					},
					{
						"name": "ProgramStep",
						"type": "String"
					},
					{
						"name": "Programnote",
						"type": "String"
					},
					{
						"name": "Singlenote",
						"type": "String"
					},
					{
						"name": "ShutdownTm",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sinkgen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "iot_appened_files",
						"fileSystem": "mbtest"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Month_index",
						"type": "String"
					},
					{
						"name": "Predicted_PD",
						"type": "String"
					},
					{
						"name": "Year_Quarter",
						"type": "String"
					},
					{
						"name": "PD_Risk_Rating",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sourcegen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "gen2hackstore",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "cnctoolinfo",
						"fileSystem": "cnctransformeddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "$dtid",
						"type": "String"
					},
					{
						"name": "$timestamp",
						"type": "String"
					},
					{
						"name": "SequentialNumber",
						"type": "String"
					},
					{
						"name": "EMT",
						"type": "String"
					},
					{
						"name": "CreateTime",
						"type": "String"
					},
					{
						"name": "ToolNo",
						"type": "String"
					},
					{
						"name": "UseCount",
						"type": "String"
					},
					{
						"name": "LimitCount",
						"type": "String"
					},
					{
						"name": "EventTime",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/gen2hackstore')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Storage link to Gen2 account",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunction1_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KV2020",
							"type": "LinkedServiceReference"
						},
						"secretName": "sqlhackadmin",
						"secretVersion": "1544ef16e1994ef58aa17c1846ca04db"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/KV2020')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqldb_sqlhack')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqldb_sqlhack_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Base64Convertor')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('Base64Convertor_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('Base64Convertor_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HackSchema')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('HackSchema_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('HackSchema_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/JsonToCSVConvertor')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('JsonToCSVConvertor_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('JsonToCSVConvertor_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KV2020')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('KV2020_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/gen2hackStoreDataSet')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('gen2hackStoreDataSet_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/gen2hackstore')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('gen2hackstore_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('gen2hackstore_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorageTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "BlobStorageTrigger to convert Base64 to string ",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "IoTHubOPCUAConvertor",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/messagefiles/blobs/iot-hub-hack",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('BlobStorageTrigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/IoTHubOPCUAConvertor')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AddIoTDataToCNCStatusData')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CDMCNSPartitionData",
								"type": "DatasetReference"
							},
							"name": "InputCNCData"
						},
						{
							"dataset": {
								"referenceName": "CDMMiabData",
								"type": "DatasetReference"
							},
							"name": "IoTHubData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CDMCNSPartitionData",
								"type": "DatasetReference"
							},
							"name": "CNCDataWithHumidityData"
						}
					],
					"transformations": [
						{
							"name": "LinkIoTHumidityData"
						}
					],
					"script": "source(output(\n\t\t{$dtId} as string,\n\t\t{$timestamp} as string,\n\t\tErrorCode as string,\n\t\tTotalNum as string,\n\t\tTag_Modbus_Humidity as string,\n\t\tCreateTime as string,\n\t\tStatus as string,\n\t\tEventTime as string,\n\t\tSequentialNumber as string,\n\t\tCategory as string,\n\t\tEMT as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> InputCNCData\nsource(output(\n\t\t{$dtId} as string,\n\t\t{$timestamp} as string,\n\t\tTag_Modbus_Humidity as string,\n\t\tTag_D2_Blue as string,\n\t\tTag_Modbus_Temperature as string,\n\t\tTag_D1_Analog as string,\n\t\tTag_Modbus_CO2 as string,\n\t\tTag_D0_Digital as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> IoTHubData\nInputCNCData, IoTHubData join(InputCNCData@Tag_Modbus_Humidity != IoTHubData@Tag_Modbus_Humidity,\n\tjoinType:'outer',\n\tbroadcast: 'left')~> LinkIoTHumidityData\nLinkIoTHumidityData sink(input(\n\t\t{$dtId} as string,\n\t\t{$timestamp} as string,\n\t\tErrorCode as string,\n\t\tTotalNum as string,\n\t\tTag_Modbus_Humidity as string,\n\t\tCreateTime as string,\n\t\tStatus as string,\n\t\tEventTime as string,\n\t\tSequentialNumber as string,\n\t\tCategory as string,\n\t\tEMT as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tpartitionFileNames:['partition-data.csv'],\n\tmapColumn(\n\t\t{$dtId} = InputCNCData@{$dtId},\n\t\t{$timestamp} = InputCNCData@{$timestamp},\n\t\tErrorCode,\n\t\tTotalNum,\n\t\tTag_Modbus_Humidity = IoTHubData@Tag_Modbus_Humidity,\n\t\tCreateTime,\n\t\tStatus,\n\t\tEventTime,\n\t\tSequentialNumber,\n\t\tCategory,\n\t\tEMT\n\t),\n\tpartitionBy('hash', 1)) ~> CNCDataWithHumidityData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CDMCNSPartitionData')]",
				"[concat(variables('factoryId'), '/datasets/CDMMiabData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CNCDataPreparer')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Prepares the CNC Data Set for adding the IoT Hub Data",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "InputCNCStatusData",
								"type": "DatasetReference"
							},
							"name": "InputCNCData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CDMCNSPartitionData",
								"type": "DatasetReference"
							},
							"name": "OutputCNCData"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\t{$dtid} as string,\n\t\t{$timestamp} as string,\n\t\tSequentialNumber as string,\n\t\tEMT as string,\n\t\tCreateTime as string,\n\t\tStatus as string,\n\t\tErrorCode as string,\n\t\tTotalNum as string,\n\t\tCategory as string,\n\t\tEventTime as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> InputCNCData\nInputCNCData sink(input(\n\t\t{$dtId} as string,\n\t\t{$timestamp} as string,\n\t\tErrorCode as string,\n\t\tTotalNum as string,\n\t\tTag_Modbus_Humidity as string,\n\t\tCreateTime as string,\n\t\tStatus as string,\n\t\tEventTime as string,\n\t\tSequentialNumber as string,\n\t\tCategory as string,\n\t\tEMT as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tpartitionFileNames:['partition-data-intermediate.csv'],\n\ttruncate: true,\n\tmapColumn(\n\t\t{$dtId} = {$dtid},\n\t\t{$timestamp},\n\t\tErrorCode,\n\t\tTotalNum,\n\t\tTag_Modbus_Humidity = EMT,\n\t\tCreateTime,\n\t\tStatus,\n\t\tEventTime,\n\t\tSequentialNumber,\n\t\tCategory,\n\t\tEMT\n\t),\n\tpartitionBy('hash', 1)) ~> OutputCNCData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InputCNCStatusData')]",
				"[concat(variables('factoryId'), '/datasets/CDMCNSPartitionData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputDataToCDMTransfer')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "InputCNCToolChangeData",
								"type": "DatasetReference"
							},
							"name": "InputCNCData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CDMCNCToolChangeData",
								"type": "DatasetReference"
							},
							"name": "CDMConvertedData"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\t{$dtid} as string,\n\t\t{$timestamp} as string,\n\t\tSequentialNumber as string,\n\t\tEMT as string,\n\t\tCreateTime as string,\n\t\tToolNo as string,\n\t\tUseCount as string,\n\t\tLimitCount as string,\n\t\tUseCountAfter as string,\n\t\tEventTime as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> InputCNCData\nInputCNCData sink(input(\n\t\t{$dtId} as string,\n\t\t{$timestamp} as string,\n\t\tUseCountAfter as string,\n\t\tToolNo as string,\n\t\tLimitCount as string,\n\t\tUseCount as string,\n\t\tSequentialNumber as string,\n\t\tCreateTime as string,\n\t\tEMT as string,\n\t\tEventTime as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tpartitionFileNames:['partition-data.csv'],\n\ttruncate: true,\n\tmapColumn(\n\t\t{$dtId} = {$dtid},\n\t\t{$timestamp},\n\t\tUseCountAfter,\n\t\tToolNo,\n\t\tLimitCount,\n\t\tUseCount,\n\t\tSequentialNumber,\n\t\tCreateTime,\n\t\tEMT,\n\t\tEventTime\n\t),\n\tpartitionBy('hash', 1)) ~> CDMConvertedData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InputCNCToolChangeData')]",
				"[concat(variables('factoryId'), '/datasets/CDMCNCToolChangeData')]"
			]
		}
	]
}